@model IEnumerable<StudentResponse>

@{
	ViewBag.Title = "Students";
}
<h1>Students</h1>
<form action="~/students/index" method="get">
<div class="box flex">
	<div class="flex-1">
		<select class="form-input" name="searchBy">
			@foreach(var field in ViewBag.SearchFields)
			{
				<option value="@field.Key" selected="@(field.Key == ViewBag.CurrentSearchBy)">@field.Value</option>
			}
		</select>
	</div>

	<div class="flex-1">
			<input type="search" id="search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" />
	</div>

	<div class="flex-1">
		<button class="button button-blue-back">Search</button>
		<a href="~/students/index" class="link-hover">Clear all</a>
	</div>
</div>
<table class="table w-100 mt">
	<thead>
		<tr>
			<th>Student Name</th>
			<th>Email</th>
			<th>Date of birth</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Classroom</th>
			<th>Address</th>
			<th>New Commer</th>
		</tr>
	</thead>
	<tbody>
		@foreach(StudentResponse student in Model)
		{
			<tr>
				<td>@student.StudentName</td>
				<td>@student.Email</td>
				<td>@student.DateOfBirth?.ToString("dd MMM yyyy")</td>
				<td>@student.Age</td>
				<td>@student.Gender</td>
				<td>@student.Classroom</td>
				<td>@student.Address</td>
				<td>@student.IsNewCommer</td>
			</tr>
		}
	</tbody>
</table>
</form>